NUXT_PUBLIC_SITE_URL=https://cars-wa9g.vercel.app
NUXT_PUBLIC_ONESIGNAL_APP_ID=79fbc8fe-def9-488e-af32-9a7c00ab5e3f
ONESIGNAL_REST_API_KEY=os_v2_app_ph54r7w67fei5lzstj6abk26h4zug76gsqrudve6pe3qda5baqzd2v6xjjxrtkhuyp4ozrdotajouxwxzipcfhynomar6nkkf6xlwqi
ONESIGNAL_SEND_TO_ALL=false
ONESIGNAL_STRICT_USER_TARGETING=false
INSTALLMENT_ALERT_REPEAT_MINUTES=1440
NOTIFICATION_DELIVERY_KEEP_DAYS=30